<h2>User info</h2>
<% if @user.errors.any? %>
<%= pluralize(@user.errors.count,"error") %>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= form_for(@user) do |f| %>
<p>name<p>
<%= f.text_field :name, placeholder:"名前" %>
<p>image</p>
<%=f.attachment_field :profile_image %>
<p>introduction</p>
<%= f.text_area :introduction %>

<%= f.submit "Update user" %>
<% end %>